#siteTitle a{
    display: block;
    font-weight: 100;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #222;
}

#container{
    margin:auto;
    display:block;
    max-width: 32em;
    font-size: 16pt;
    margin-bottom:5em;
    line-height: 1.5em;
    padding:10px;
}

#subtitle{
    margin-top:-25px;
    text-align: right;
}

#author{
	display:block;
    text-align:left;
    margin-left:10px;
}

.grey{
    color:#555;
}

.date{
    font-size: 0.8em;
    margin-right: 40px;
    display:block;
}

li{
    list-style-type: disclosure-closed;
    list-style-type: none;
}

a{
    color:#333;
    padding-right:0.5em;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .date {
      display: inline;
    }
  }